<div id="alert-overlay">
    <div id="alert-overlay-contents">
        <div id="alert-message-div">
            <p>Unknown error occured. Please try to reload the page. If error still persists, please contact the system administrator</p>
        </div>
        <div>
            <button>OK</button>
        </div>
    </div>
</div>