<div id="confirm-winner-overlay">
    <div id="confirm-winner-overlay-contents">
        <div id="confirm-winner-div">
            <p>Unknown error occured. Please try to reload the page. If error still persists, please contact the system administrator</p>
        </div>
        <div>
            <button id="confirm-winner-selection">Confirm</button>
        </div>
    </div>
</div>