<div id="confirm-winner-overlay">
    <div id="confirm-winner-overlay-contents">
        <div id="confirm-winner-div">
            <p>Unknown error occured. Please try to reload the page. If error still persists, please contact the system administrator</p>
        </div>
        <div id="confirm-winner-overlay-actions">
            <button class ="btn" id="confirm-winner-selection">Confirm</button>
            <button class="btn-alt" id="cancel-confirm-winner-selection">Cancel</button>
        </div>
    </div>
</div>