<div id="overlay">
  <div id="select-winner-overlay">
    <h2>Please select the winner of the match:</h2>
    <div id="participant-select">
      <button id="aka">
        <p>AKA: Participant One</p>
      </button>
      <h1>VS</h1>
      <button id="shiro">
        <p>SHIRO: Participant Two</p>
      </button>
    </div>
    <div id="overlay-actions">
      <button id="overlay-back">Back</button>
      <!-- <button id="overlay-submit">Submit</button> -->
    </div>
  </div>
</div>
