<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pradinis sistemos puslapis</title>
</head>
<body>
    <div>
        <a href="/bracket-kata-points?date=2024-08-23&group=1">Eiti į Katos taškų sistemą</a>
    </div>
    
</body>
</html>