<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pradinis sistemos puslapis</title>
</head>
<body>
    <h1>Welcome, please choose an action from below</h1>

    <div>
        <div>
            <a href="/data/upload-group">Upload data</a>
        </div>
    
        <div>
            <a href="/data/view-groups">View uploaded groups</a>
        </div>
    </div>
</body>
</html>