<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/general.css">
    <title>Main Page</title>
</head>
<body>
    <div style="margin: 10px auto; text-align: center">
    <h1>Welcome, please choose an action from below</h1>

        <div>
            <a class="btn" href="/data/upload-group">Upload data</a>
        </div>
    
        <div>
            <a class="btn" href="/data/view-groups">View uploaded groups</a>
        </div>
    </div>
</body>
</html>