<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/view-groups.css" />


    

    <title>View groups</title>
  </head>
  <body>
    <h3>Previously uploaded groups:</h3>
    <div>
      <label for="sort-groups-dropdown">Sort by</label>
      <select id="sort-groups-dropdown">
        <option selected value="default">--</option>
        <option value="group-name-asc">Group name ascending</option>
        <option value="group-name-desc">Group name descending</option>
        <option value="date-asc">Date ascending</option>
        <option value="date-desc">Date descending</option>
        <option value="group-number-asc">Group number ascending</option>
        <option value="group-number-desc">Group number descending</option>
        <option value="match-type-asc">Match type ascending</option>
        <option value="match-type-desc">Match type descending</option>
      </select>
    </div>
    <table id="group-table">
      <thead>
        <th>Group Name</th>
        <th>Date</th>
        <th>Group Number</th>
        <th>Match Type</th>
        <th>Actions</th>
      </thead>
      <tbody>

      </tbody>
    </table>
    <a class="btn" href="/">Back</a>
  </body>
</html>

<script>
  const groups = <%- JSON.stringify(groups) %>;
</script>

<script src="/scripts/view-groups.js"></script>