/* #main-bracket {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 5% 5%;
}

ul{
    width: 100%;
}

#bracket-aac

#bracket-actions button {
    margin: 0px auto;
} */

/* For dynamic bracket */

table {
    margin-top: 2em;
    border-collapse: collapse;
    width: 100%;
  }

  table, th {
    border: 1px solid black;
  }


  th, td {
    text-align: center;
    vertical-align: middle;
    min-width: 150px;
    height: 50px;
  }
  /* For simple approach */
  td {
    border: 1px solid black;
  }

  /* For spaced-out approach */
  /* td div {
    margin-top: 50px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
  } */

  caption {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 10px;
  }

  