/* *{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 0;
    padding: 0;
} */

/* #bracket-result-overlay {
    position: fixed;
    display: none;
    z-index: 1001;
    top:0;
    margin: 15px 5%;
    background-color: beige;
    opacity: 1;
    width: 100%;
    height: 100%;
    margin: 15px 5px 15px 5px;
} */

/* Select winner overlay */

#overlay, #result-overlay{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#overlay.active, #result-overlay.active {
    display:block;
    overflow: auto;
}

#select-winner-overlay, #bracket-result-overlay, #kata-points-overlay {
    position: fixed;
    width: 70%;
    height: 30%;
    z-index: 1001;
    top:30%;
    margin: 15px 15%;
    background-color: beige;
    opacity: 1;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

#kata-points-overlay {
    height: 40%;
}

#bracket-result-overlay {
    padding: 100px 50px;
}

#select-winner-overlay h2, #kata-points-overlay h2{
    padding: 15px;
    text-align: center;
    margin-top: 50px;
}


#participant-select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#overlay-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 15px
}

button {
    cursor:pointer;
    opacity:0.8;
}

#aka,#shiro{
    width: 40%;
    border-radius: 10px;
    text-align: center;
    font-size:20px;
    font-weight:500;
    padding: 15px;
    margin: 0 15px;
}

#aka{
    background-color: red;
    color: white;
}

#shiro{
    background-color: white;
    color: black;
}

#overlay-submit,#overlay-back {
    border-radius: 5px;
    width: 80px;
    padding: 15px;
    width: 40%;
}

#overlay-submit:hover,#overlay-back:hover {
    opacity: 0.7;
}

#overlay-submit{
    background-color: green;
    color: white;
}

#overlay-back {
    background-color: rgb(194, 192, 192);
}







/* Confirm winner overlay */

#confirm-winner-overlay{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
}

#confirm-winner-overlay.active {
    display: block;
    overflow: auto;
}

#confirm-winner-overlay-contents {
    z-index: 1101;
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 60%;
    padding: 50px;
    margin: 20px auto;
    border-radius: 9px;
    pointer-events: auto;
    cursor: default;
    font-size: 20px;
}

#confirm-winner-overlay-contents p {
    text-align: left;
}
#confirm-winner-overlay-contents button {
    margin: 0 5% 0 95%;
    cursor: pointer;
}

#confirm-winner-overlay #alert-message-div {
    padding: 12px;
    font-size: 18px;
}

#confirm-winner-overlay button {
    padding: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(39, 19, 19);
    background-color: rgb(83, 73, 73);
    color: white;
    border-radius: 9px;
    font-size: 18px;
}

#confirm-winner-overlay button :hover{
    background-color: rgb(97, 57, 57);
}